<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <GUIConfigs>
        <!-- 3 status : "large", "small" or "hide"-->
        <GUIConfig name="ToolBar" visible="yes">standard</GUIConfig>
        <!-- 2 status : "show" or "hide"-->
        <GUIConfig name="StatusBar">show</GUIConfig>
        <!-- For all attributs, 2 status : "yes" or "no"-->
        <GUIConfig name="TabBar" dragAndDrop="yes" drawTopBar="yes" drawInactiveTab="yes" reduce="yes" closeButton="yes" doubleClick2Close="no" vertical="no" multiLine="no" hide="no" />
        <!-- 2 positions : "horizontal" or "vertical"-->
        <GUIConfig name="ScintillaViewsSplitter">vertical</GUIConfig>
        <!-- For the attribut of position, 2 status : docked or undocked ; 2 status : "show" or "hide" -->
        <GUIConfig name="UserDefineDlg" position="undocked">hide</GUIConfig>
        <GUIConfig name="TabSetting" size="2" replaceBySpace="yes" />
        <!--App position-->
        <GUIConfig name="AppPosition" x="812" y="233" width="455" height="368" isMaximized="no" />
        <!-- For the primary scintilla view,
             2 status for Attribut lineNumberMargin, bookMarkMargin, indentGuideLine and currentLineHilitingShow: "show" or "hide"
             4 status for Attribut folderMarkStyle : "simple", "arrow", "circle" and "box"  -->
        <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" bookMarkMargin="show" folderMarkStyle="box" indentGuideLine="hide" currentLineHilitingShow="show" Wrap="no" edge="line" edgeNbColumn="80" wrapSymbolShow="hide" zoom="-1" whiteSpaceShow="hide" eolShow="hide" lineWrapMethod="aligned" disableAdvancedScrolling="no" zoom2="0" borderWidth="2" />
        <!-- For the secodary scintilla view,
             2 status for Attribut lineNumberMargin, bookMarkMargin, indentGuideLine and currentLineHilitingShow: "show" or "hide"
             4 status for Attribut folderMarkStyle : "simple", "arrow", "circle" and "box" -->
        <GUIConfig name="Auto-detection">yes</GUIConfig>
        <GUIConfig name="CheckHistoryFiles">no</GUIConfig>
        <GUIConfig name="TrayIcon">no</GUIConfig>
        <GUIConfig name="RememberLastSession">yes</GUIConfig>
        <!--
			New Document default settings :
				format = 0/1/2 -> win/unix/mac
				encoding = 0/1/2/3/4/5 -> ANSI/UCS2Big/UCS2small/UTF8/UTF8-BOM
				defaultLang = 0/1/2/..

			Note 1 : UTF8-BOM -> UTF8 without BOM
			Note 2 : for defaultLang :
					0 -> L_TXT
					1 -> L_PHP
					... (see source file)
		-->
        <GUIConfig name="NewDocDefaultSettings" format="2" encoding="4" lang="0" codepage="-1" openAnsiAsUTF8="yes" />
        <GUIConfig name="langsExcluded" gr0="190" gr1="44" gr2="149" gr3="251" gr4="255" gr5="95" gr6="255" gr7="1" langMenuCompact="no" />
        <!--
		printOption is print colour setting, the following values are possible :
			0 : WYSIWYG
			1 : Invert colour
			2 : B & W
			3 : WYSIWYG but without background colour
		-->
        <GUIConfig name="Print" lineNumber="no" printOption="0" headerLeft="$(FULL_CURRENT_PATH)" headerMiddle="" headerRight="$(LONG_DATE) $(TIME)" headerFontName="IBMPC" headerFontStyle="1" headerFontSize="8" footerLeft="" footerMiddle="-$(CURRENT_PRINTING_PAGE)-" footerRight="" footerFontName="" footerFontStyle="0" footerFontSize="9" margeLeft="0" margeTop="0" margeRight="0" margeBottom="0" />
        <!--
                            Backup Setting :
                                0 : non backup
                                1 : simple backup
                                2 : verbose backup
                      -->
        <GUIConfig name="Backup" action="0" useCustumDir="no" dir="" />
        <GUIConfig name="TaskList">yes</GUIConfig>
        <GUIConfig name="SaveOpenFileInSameDir">no</GUIConfig>
        <!--
			value 0 for the folloing parameters means invisible :
			leftWidth, topHight, rightWidth, bottomHight
			
					position value for the PluginDlg:
						
						0 : left
						 1 : right
						2 : top
						3 : bottom
						>= 4 : undocked -> FloatingWindow id
			-->
        <GUIConfig name="noUpdate" intervalDays="15" nextUpdateDate="20140415">no</GUIConfig>
        <GUIConfig name="MaitainIndent">yes</GUIConfig>
        <GUIConfig name="MRU">yes</GUIConfig>
        <GUIConfig name="URL">2</GUIConfig>
        <GUIConfig name="globalOverride" fg="no" bg="no" font="yes" fontSize="yes" bold="no" italic="no" underline="no" />
        <GUIConfig name="auto-completion" autoCAction="3" triggerFromNbChar="2" funcParams="yes" />
        <GUIConfig name="multiInst" setting="0" />
        <GUIConfig name="sessionExt"></GUIConfig>
        <GUIConfig name="SmartHighLight">yes</GUIConfig>
        <GUIConfig name="SmartHighLightCaseSensitive">no</GUIConfig>
        <GUIConfig name="TagsMatchHighLight" TagAttrHighLight="yes" HighLightNonHtmlZone="no">yes</GUIConfig>
        <GUIConfig name="auto-insert" parentheses="no" brackets="no" curlyBrackets="no" quotes="no" doubleQuotes="no" htmlXmlTag="yes" />
        <GUIConfig name="MenuBar">show</GUIConfig>
        <GUIConfig name="Caret" width="3" blinkRate="250" />
        <GUIConfig name="ScintillaGlobalSettings" enableMultiSelection="no" />
        <GUIConfig name="openSaveDir" value="0" defaultDirPath="" />
        <GUIConfig name="titleBar" short="no" />
        <GUIConfig name="stylerTheme" path="C:\Users\furashg\AppData\Roaming\Notepad++\stylers.xml" />
        <GUIConfig name="delimiterSelection" leftmostDelimiter="40" rightmostDelimiter="41" delimiterSelectionOnEntireDocument="no" />
        <GUIConfig name="MISC" fileSwitcherWithoutExtColumn="no" />
        <GUIConfig name="DockingManager" leftWidth="200" rightWidth="169" topHeight="200" bottomHeight="120">
            <PluginDlg pluginName="NppFTP.dll" id="0" curr="1" prev="-1" isVisible="yes" />
            <PluginDlg pluginName="ComparePlugin.dll" id="9" curr="1" prev="-1" isVisible="no" />
            <PluginDlg pluginName="NppExec.dll" id="2" curr="3" prev="-1" isVisible="yes" />
            <PluginDlg pluginName="NppTaskList.dll" id="15" curr="1" prev="-1" isVisible="yes" />
            <PluginDlg pluginName="dummy" id="0" curr="3" prev="-1" isVisible="yes" />
            <ActiveTabs cont="0" activeTab="-1" />
            <ActiveTabs cont="1" activeTab="0" />
            <ActiveTabs cont="2" activeTab="-1" />
            <ActiveTabs cont="3" activeTab="0" />
        </GUIConfig>
    </GUIConfigs>
    <!-- The History of opened files list -->
    <FindHistory nbMaxFindHistoryPath="10" nbMaxFindHistoryFilter="10" nbMaxFindHistoryFind="10" nbMaxFindHistoryReplace="10" matchWord="no" matchCase="no" wrap="yes" directionDown="yes" fifRecuisive="yes" fifInHiddenFolder="no" dlgAlwaysVisible="no" fifFilterFollowsDoc="no" fifFolderFollowsDoc="no" searchMode="1" transparencyMode="1" transparency="150" dotMatchesNewline="no">
        <Find name="echo $JAVA_HOME" />
        <Find name="echo ((++var)) $JAVA_HOME" />
        <Find name="UAJL" />
        <Find name="p06-mi" />
        <Find name="&apos;loc&apos;" />
        <Find name="loc" />
        <Find name="working" />
        <Find name="&apos;BUSN" />
        <Find name="include" />
        <Find name="busn" />
        <Replace name="echo $i $JAVA_HOME" />
        <Replace name="((++i))\n echo $JAVA_HOME" />
        <Replace name=" " />
        <Replace name="s" />
        <Replace name="\t" />
        <Replace name=" -- " />
        <Replace name="--" />
        <Replace name="AND OBJECTYPE = " />
        <Replace name=",&apos;" />
        <Replace name="&apos;" />
    </FindHistory>
    <History nbMaxFile="15" inSubMenu="no" customLength="0">
        <File filename="U:\Workspace\Scratchpad\first-fsharp-script.fsx" />
        <File filename="C:\Users\furashg\Downloads\AE_TL_TIMEADMIN_429308.log" />
        <File filename="C:\Users\furashg\Downloads\AE_TL_TIMEADMIN_429308.trc" />
        <File filename="C:\Program Files\Cygwin64\Cygwin.bat" />
        <File filename="C:\Users\furashg\AppData\Roaming\Notepad++\plugins\config\NppFTP\Cache\furashg@uaz-hr-a02.mosaic.arizona.edu\home\furashg\UserSQR\pay003.sqr" />
        <File filename="C:\Users\furashg\AppData\Roaming\Notepad++\plugins\config\NppFTP\Cache\furashg@uaz-hr-a02.mosaic.arizona.edu\home\furashg\PsftSQR\UserSQR\uabn0001.sqr" />
        <File filename="C:\Users\furashg\AppData\Roaming\Notepad++\plugins\config\NppFTP\Cache\furashg@uaz-hr-a02.mosaic.arizona.edu\home\furashg\UserSQR\uabn0001_201311263405.sqr" />
        <File filename="C:\Users\furashg\AppData\Roaming\Notepad++\plugins\config\NppFTP\Cache\furashg@uaz-hr-a02.mosaic.arizona.edu\home\furashg\UserSQR\uabn0001.sqr" />
        <File filename="C:\Users\furashg\AppData\Roaming\Notepad++\plugins\config\NppFTP\Cache\furashg@uaz-hr-a50.mosaic.arizona.edu\home\furashg\UserSQR\pay034.sqr" />
        <File filename="C:\Users\furashg\AppData\Roaming\Notepad++\plugins\config\NppFTP\Cache\furashg@uaz-hr-a02.mosaic.arizona.edu\home\furashg\pay034.sqr" />
        <File filename="C:\Users\furashg\etc\_inputrc" />
        <File filename="U:\Temp\before.csv" />
        <File filename="U:\Temp\after.csv" />
        <File filename="C:\Users\furashg\AppData\Roaming\Notepad++\plugins\config\NppFTP\Cache\furashg@uaz-hr-a02.mosaic.arizona.edu\home\furashg\UserSQR\pay034.sqr" />
    </History>
    <ProjectPanels>
        <ProjectPanel id="0" workSpaceFile="" />
        <ProjectPanel id="1" workSpaceFile="" />
        <ProjectPanel id="2" workSpaceFile="" />
    </ProjectPanels>
</NotepadPlus>
